<div class="container-fluid">
  <!-- Navbar (Your existing code) -->
  <div class="row pt-10 bg-white vh-100 p-md-5">
    <span
      class="h1 text-primary p-1 d-flex align-items-center justify-content-center"
    >
      Contact
    </span>
    <form class="row g-3">
      <div class="col-12">
        <label for="inputName" class="form-label text-primary">Name</label>
        <input type="text" class="form-control" id="inputName" />
      </div>
      <div class="col-12">
        <label for="inputEmail" class="form-label text-primary">Email</label>
        <input type="email" class="form-control" id="inputEmail" />
      </div>
      <div class="col-12">
        <label for="inputMessage" class="form-label text-primary"
          >Message</label
        >
        <textarea class="form-control" id="inputMessage" rows="5"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
