<div class="container-fluid" id="projects">
  <div
    class="row pt-10 bg-primary vh-200 d-flex align-items-center justify-content-center"
  >
    <span
      class="h1 text-white p-1 pt-4 d-flex align-items-center justify-content-center"
      >Recent Projects</span
    >
    <div class="row row-cols-2 row-cols-md-3 g-5">
      <div class="col">
        <a
          href="https://github.com/"
          class="card-link"
          target="_blank"
          style="text-decoration: none"
        >
          <div class="card h-100 custom-shadow border-0">
            <img src="{{ "images/title.jpeg" | absURL }}" class="card-img-top"
            alt="..."/>
            <div class="card-body">
              <h5 class="card-title">Mind Space</h5>
              <p class="card-text">
                Working on making a mobile app for a mental health organization
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a
          href="https://github.com/"
          class="card-link"
          target="_blank"
          style="text-decoration: none"
        >
          <div class="card h-100 custom-shadow border-0">
            <img src="{{ "images/title.jpeg" | absURL }}" class="card-img-top"
            alt="..." />
            <div class="card-body">
              <h5 class="card-title">Resume Database</h5>
              <p class="card-text">
                A resume Database Website for Ada's Developers
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a
          href="https://github.com/"
          class="card-link"
          target="_blank"
          style="text-decoration: none"
        >
          <div class="card h-100 custom-shadow border-0">
            <img src="{{ "images/title.jpeg" | absURL }}" class="card-img-top"
            alt="..." />
            <div class="card-body">
              <h5 class="card-title">Game Discovery Website</h5>
              <p class="card-text">A clone of rawg.io</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
